{% extends 'Mycart/basic.html' %}
{% load static %}

{% block homelink %} 

    <link rel="stylesheet" href="{% static 'Mycart/assets/css/fontawesome.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'Mycart/assets/css/IndexCss.css'%}"> -->
    <link rel="apple-touch-icon" href="{% static 'Mycart/assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Mycart/assets/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'Mycart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Mycart/assets/css/templatemo.css' %}">
    

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
{% endblock %}

{% block body %}
{% load static %}

<!-- Homepage Slideshow  -->
<!-- Start Banner Hero -->
 <div class="row">
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src='{% static "Mycart/assets/img/banner_img_01.jpg" %}' alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Mycart</b></h1>
                                <h3 class="h2">Tiny and Perfect eCommerce Template</h3>
                                <p>
                                    Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta
                                    1).
                                    This template is 100% free provided by <a rel="sponsored" class="text-success"
                                        href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                                    Image credits go to <a rel="sponsored" class="text-success"
                                        href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                    <a rel="sponsored" class="text-success" href="https://unsplash.com/"
                                        target="_blank">Unsplash</a> and
                                    <a rel="sponsored" class="text-success" href="https://icons8.com/"
                                        target="_blank">Icons 8</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src='{% static "Mycart/assets/img/banner_img_02.jpg"%}' alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Proident occaecat</h1>
                                <h3 class="h2">Aliquip ex ea commodo consequat</h3>
                                <p>
                                    You are permitted to use this Zay CSS template for your commercial websites.
                                    You are <strong>not permitted</strong> to re-distribute the template ZIP file in any
                                    kind of template collection websites.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src='{% static "Mycart/assets/img/banner_img_03.jpg"%}' alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Repr in voluptate</h1>
                                <h3 class="h2">Ullamco laboris nisi ut </h3>
                                <p>
                                    We bring you 100% free CSS templates for your websites.
                                    If you wish to support TemplateMo, please make a small contribution via PayPal or
                                    tell your friends about our website. Thank you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" data-slide="prev">
        <!-- <span class="fas fa-chevron-left"></span> -->
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" data-slide="next">
        <!-- <span class="fas fa-chevron-right"></span> -->
        <i class="fas fa-chevron-right"></i>
    </a>
</div> 
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{1}}"><img src="{% static 'Mycart/assets/img/categoryimg_1.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Electronics & Accessories</h5>
            <p id="watches" class="text-center catitem"><a class="btn btn-success" href="/Mycart/CategoryItem/{{1}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{2}}"><img src="{% static 'Mycart/assets/img/categoryimg_2.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Home and kitchen products</h2>
            <p id="watches" class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{2}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{3}}"><img src="{% static 'Mycart/assets/img/categoryimg_3.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Computers & Accessories</h2>
            <p id="watches" class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{3}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{4}}"><img src="{% static 'Mycart/assets/img/categoryimg_4.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Bag, Wallets & luggage</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{4}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{5}}"><img src="{% static 'Mycart/assets/img/categoryimg_5.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Mobiles & Accessories</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{5}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{6}}"><img src="{% static 'Mycart/assets/img/categoryimg_06.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">FootWear</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{6}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{7}}"><img src="{% static 'Mycart/assets/img/categoryimg_07.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Health & household</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{7}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{8}}"><img src="{% static 'Mycart/assets/img/categoryimg_8.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Jewellery</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{8}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{9}}"><img src="{% static 'Mycart/assets/img/categoryimg_9.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Baby Products</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{9}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{10}}"><img src="{% static 'Mycart/assets/img/categoryimg_10.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Sports & Fitness</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{10}}">Go Shop</a></p>
        </div>
        <!-- <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{8}}"><img src="{% static 'Mycart/assets/img/categoryimg_8.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Jewellery</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{8}}">Go Shop</a></p>
        </div> -->
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{12}}"><img src="{% static 'Mycart/assets/img/categoryimg_12.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Beauty & Luxury</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{12}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{13}}"><img src="{% static 'Mycart/assets/img/categoryimg_13.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">TVs & Appliances</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{13}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{14}}"><img src="{% static 'Mycart/assets/img/categoryimg_14.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Women's Fashion</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{14}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{15}}"><img src="{% static 'Mycart/assets/img/categoryimg_15.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Men's Fashion</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{15}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{16}}"><img src="{% static 'Mycart/assets/img/categoryimg_16.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Kid's Fashion</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{16}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{17}}"><img src="{% static 'Mycart/assets/img/categoryimg_17.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Grocery & Gourment</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{17}}">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/Mycart/CategoryItem/{{18}}"><img src="{% static 'Mycart/assets/img/categoryimg_18.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Daily essentials</h2>
            <p class="text-center"><a class="btn btn-success" href="/Mycart/CategoryItem/{{18}}">Go Shop</a></p>
        </div>
    </div>
</section> 
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h4>Recommended products inspired by your browsing history</h4>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'Mycart/assets/img/feature_prod_01.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'Mycart/assets/img/feature_prod_02.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$480.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                        <p class="card-text">
                            Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'Mycart/assets/img/feature_prod_03.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                        <p class="card-text">
                            Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->








{% endblock %}
{% block js %}

<script>
    // var item = document.getElementById("watches").id;
    // console.log(item)
        



// $('.watches').click(function(){
        //     // var idstr = this.id.toString();
        //     // console.log(idstr)
        //     console.log("Inside")
        // })




    // function categoryitem()
    // {
    //     console.log("we are inside")
    //     // var catitem1 = this.id.toString();
    //     // console.log(catitem1)
    // }
    // var queryString = "?para1=" + catitem1;
    // window.location.href ="CategoryItem.html" + queryString;
    

</script>










<!-- <script>
// Find out the cart items from localStorage
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}
// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
    $('.divpr').on('click', 'button.cart', function(){
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
    } else {
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML;
        cart[idstr] = [qty, name];
    }
    updateCart(cart);
});
//Add Popover to cart
$('#popcart').popover();
updatePopover(cart);
function updatePopover(cart) {
    // console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5>Your Cart summery</h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "</div> <a href='/Mycart/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    // console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}
function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
}
function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
}
// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
</script> -->
{% endblock %}