{% extends 'Mycart/basic.html' %}
{% load static %}
{% block contactuslink %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link rel="stylesheet" href="{% static 'Mycart/assets/css/contactCSS.css'%}">
{% endblock %}
{% block title %} Contact {% endblock %}

{% block body%} 
{% load static %}
<section id="contact" class="tm-section-pad-top tm-parallax-2">
    
    <div class="container tm-container-contact"> 
          <div class="text-center mb-2">
              <h2 class="tm-section-title">Contact Us</h2>
              <img src="{% static 'Mycart/assets/img/under-heading.png' %}" alt="" ><br>
          </div>

      <div class="row my-4">
          
          <div class="col-sm-12 col-md-8">
            <form action="/Mycart/contact/" method="POST">{% csrf_token %}
              <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
              <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
              <textarea id="message" name="message" rows="8" placeholder="Your questions" class="tm-input" required></textarea>
              <button type="submit" class="btn tm-btn-submit">Submit</button>
            </form>
          </div>
          
          <div class="col-sm-12 col-md-4">

              <div class="contact-item">
                <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                    <i class="far fa-2x fa-comment mr-4"></i>
                    <span class="mb-0">Chat Online</span>
                </a>              
              </div>
              
              <div class="contact-item">
                <a rel="nofollow" href="mailto:atanu98.mondal@gmail.com" class="item-link">
                    <i class="far fa-2x fa-envelope mr-4"></i>
                    <span class="mb-0">atanu98.mondal@gmail.com</span>
                </a>              
              </div>
              
              <div class="contact-item">
                <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                    <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                    <span class="mb-0">Our Location</span>
                </a>              
              </div>
              
              <div class="contact-item">
                <a rel="nofollow" href="tel:9093379027" class="item-link">
                    <i class="fas fa-2x fa-phone-square mr-4"></i>
                    <span class="mb-0">9093379027</span>
                </a>              
              </div>
              
              <div class="contact-item">&nbsp;</div>
          
          </div>
          
          
      </div><!-- row ending -->
      
    </div>     
  </section>
  
{%endblock%}
{% block js %} 
<script src="{% static 'Mycart/assets/js/cartupdate.js' %}"></script>

{% endblock %}